h1{
    text-align: center;
    color: aqua;
    font-weight: bold;
}
.prod_temp{
    width: 150px;
    height: 200px;
    border-radius: 4px;
    border: 1px solid grey;
   /* padding: 2px 5px 2px 2px;*/
    margin: 2px 2px 2px 2px;
}
.right_prod{
    max-width: 350px ;
}
.outerrow{
    /*background-color: #636b6f;*/
}
.cont_column{
    /*background-color: yellow;*/
}
#useraccount-menu{
    float: right;
}
.user-account{
    background-color: #333333;
    color: white;
    width: 250px;
    height: 50px;
    position: absolute;
    display: none;
}
.user-account a{
    color: white;
    text-decoration: none;
}

.signupdiv{
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right:auto;
}
h2{
    text-align: center;
    font-weight: bolder;
}
.parsley-required{
    list-style-type: none;
    color: red;
}
.cart{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    
    display: flex;
    align-content: center;
    color: white;
    font-weight: bold;
}
.cart-holder{
    text-align: center;
    font-weight: bold;
}

input[type="submit"]{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; 
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
}

.userlogin{
  width: 400px;
  height: auto;
  min-height: 300px;
    box-shadow: 2px 4px 6px #333333;
    margin-right: auto;
    margin-left: auto;
}
.panel-header{
    font-weight: bolder;
    font-size: 30px;
}


input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

input.parsley-type, .parsley-required, .parsley-equalto, .parsley-pattern, .parsley-length{
    color:#ff0000;
}
.thumbnail img{
    max-height:300px;
}
.thumbnail .description{
 color: 7f7f7f;   
}

.price{
    font-weight: bold;
    font-size: 16px;
}
.container-login{
    margin-top: 0;
    width: 100%;
    height:auto;
    min-height: 600px;
    background-image: url('http://localhost/shopping-cart/img/kitchen.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.statusmsg{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}